@import "../../../sass/variables";

.report{

    .react-formik-ui.themed .form-element {
        margin-bottom: 0px;
    }

    .react-formik-ui.themed .form-element 
    .radio-wrapper .radio-options 
    .radio-option input[type="radio"]:checked + label::before,
    .react-formik-ui.themed .form-element .radio-wrapper
    .radio-options .radio-option input[type="radio"]:not(:checked) + label::before {        
        width: 20px;
        height: 20px;       
    }
    
    .react-formik-ui.themed .form-element .radio-wrapper 
    .radio-options .radio-option input[type="radio"]:checked + label::after, 
    .react-formik-ui.themed .form-element .radio-wrapper .radio-options 
    .radio-option input[type="radio"]:not(:checked) + label::after {       
        top: 4px;
        left: 3.5px;       
    }

    hr{
        widows: 80%;
        border: 2px solid $bgBlue;
        text-align: center;
    }


    .RadioBtnJournalAndStatisticsTypeTopic,
    .radioStatisticUsers,
    .RadioBtnSecretWordStatisticsAndReportPhone,
    .radioBtnСomplaint
    {
        padding: 15px;
        border: 2px solid $bgBlue;
        margin-top: 20px;
        border-radius: 5px;
      
        label{
            font-size: 18px;
            font-weight: 700;
        }
        input{
            margin-right: 5px;
        }
    }

    .reportForUpfr{
        display: flex;
        margin-bottom: 15px;

        label{
            text-align: right;
        }
    }

    .reportPeriod{
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .btnReport{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .errorValidation{
        border:3px solid $bgDanger;
    }
}
