@charset "UTF-8";
@import "variables";

html{ overflow-y: scroll; overflow-x: auto; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding-right: 0 !important;//чтобы экран не дергался когда открываем модальное окно
}

.wrap {
  @include min-max(320px, 1320px,0px);
}

main{
  background: #e9ecef;
}

.mainPage{
  min-height: calc(100vh - 0px);
  padding-top: 180px;
  padding-bottom: 60px;
}

.mainLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: calc(100vh - 50px);
}

body.modal-open {
  overflow: hidden;
}

.errorValidation{
    border:3px solid $bgDanger;
}
