$white: #fff;
$black: #000;

$bgheader: #343a40;
$bgmain:#F0F0F0;
$bgborder:#ccc;

$selColor:#212529;
$bgBlue:#007bff;

$bgError:#F8D7DA;
$bgHr: #669999;

$bgDanger:#bd2130;
$bgSuccess:#28a745;
$bgInfo:#d39e00;
$bgSecondary:#6c757d;
