@import "../../../sass/variables";

.infoPanel{
    border: 1px solid $white;
    margin: 20px 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 37%;
    
    p{
        color:$white;
        margin-bottom: 0.3rem;
    }

    .fa-sign-out-alt{
        color: $bgSuccess;
    }

	.iconExit:hover{
		opacity: 0.6;
        cursor: pointer;        
	}
}