.blockUsers
{ 
    .filterUser  {
        .btnsFilter{
            display: flex;
            justify-content: center;               
            button
            {
                margin: 0 15px;
            }    
        }
    }
}



