@import "../../../sass/variables";

.blockUsers{    
    
    background: $white;
    min-height: calc(100vh - 208px); 

    &_control{
        display: flex;
        margin-left: 50px;
    }

    h3{
        text-align: center;
        margin-bottom: 25px;
        font-size: 24px;
    }
    hr{
        border: 2px solid #669999;
        width: 93%;
        margin-top: 0;
    }
    .iconInput{
        svg{
            width: 25px;
        }
    }
    input,select{
        margin: 0 0 10px 15px;
        width: 350px;
    }

    .filterUser{
        button{
            display: block;
            margin: 15px auto;
            padding: 5px 10px;;
        }
        
    }

    .addUser{
        border-left: 3px solid #669999;
        margin-left: 50px;
         
        h3{
            text-align: center;
            display: block;
        }
    }
    .deleteIcon:hover{
        cursor: pointer;
        color: $bgDanger;
    }

    .editIcon:hover{
        cursor: pointer;
        color: $bgSuccess;
    }

    .messErrAll{
    
        padding:5px;
        margin: 0 30px 15px 30px;
        text-align: center;
    
        }   
}
